[Desktop Entry]
Name=Restnotifier
GenericName=Resting notifier
Comment=Resting notifier
GenericName[ru]=Напоминатель об отдыхе
Comment[ru]=Напоминатель об отдыхе
Exec=restnotifier
Icon=restnotifier
Terminal=false
Type=Application
Categories=Qt;Utility;
